@import '/src/variables.scss';

body {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 85%);
  font-family: 'Open Sans', sans-serif, 'D2 Clarity fonts';
}
.text-default {
  color: hsl(0, 0%, 85%);
  stroke: hsl(0, 0%, 85%);
}
.text-blue {
  color: hsl(180deg, 100%, 45%);
  stroke: hsl(180deg, 100%, 45%);
}
.text-green {
  color: hsl(116deg, 58%, 65%);
  stroke: hsl(116deg, 58%, 65%);
}
.text-yellow {
  color: hsl(51deg, 100%, 45%);
  stroke: hsl(51deg, 100%, 45%);
}
.text-purple {
  color: hsl(300deg, 100%, 81%);
  stroke: hsl(300deg, 100%, 81%);
}

.text-comment {
  color: hsl(0deg, 0%, 50%);
  // TODO: do something maybe add border
}

.text-enhanced {
  background-color: hsla(108, 100%, 50%, 0.2);
  // stroke: hsl(220deg, 100%, 75%);
}

.text-pvp {
  color: hsl(0deg, 100%, 80%);
  stroke: hsl(0deg, 100%, 80%);
}
.text-pve {
  color: hsl(220deg, 100%, 75%);
  stroke: hsl(220deg, 100%, 75%);
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.img-arc {
  color: hsl(183, 83%, 72%);
}
.img-solar {
  color: hsl(21, 88%, 55%);
}
.img-void {
  color: hsl(279, 42%, 66%);
}
.img-stasis {
  color: hsl(220, 100%, 65%);
}
.img-strand {
  color: hsl(137, 76%, 55%);
}

.img-special {
  color: hsl(128, 85%, 72%);
}
.img-heavy {
  color: hsl(262, 100%, 76%);
}

.img-hunter {
  color: hsl(208, 61%, 48%);
}
.img-titan {
  color: hsl(1, 84%, 59%);
}
.img-warlock {
  color: hsl(43, 97%, 46%);
}

.img-arrow {
  color: hsl(46, 87%, 64%);
}

.ProseMirror {
  height: $editor-height;
  background-color: $editor-background-color;
  overflow: auto;
  &:focus-visible {
    outline: none;
  }
  ul {
    margin: 0;
    padding-inline-start: 15px;
  }
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      border: 1px solid hsl(210, 1%, 45%);
      box-sizing: border-box;
      min-width: 1em;
      padding: 3px 5px;
      position: relative;
      vertical-align: top;
    }
    .selectedCell:after {
      background: hsla(219, 100%, 50%, 0.4);
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }
  }
}
