:root {
  color-scheme: light dark;

  /* dark mode colors */
  --dm_background-color_primary: hsl(0, 0%, 10%);
  --dm_background-color_secondary: hsl(0, 0%, 15%);

  --dm_text-color_primary: hsl(0, 0%, 85%);
  --dm_text-color_secondary: hsl(0, 0%, 65%);

  --dm_accent-color_primary: hsl(128, 100%, 50%);
  --dm_accent-color_secondary: hsl(128, 99%, 38%);

  /* light mode colors */
  --lm_background-color_primary: hsl(0, 0%, 85%);
  --lm_background-color_secondary: hsl(0, 0%, 65%);

  --lm_text-color_primary: hsl(0, 0%, 15%);
  --lm_text-color_secondary: hsl(0, 0%, 25%);

  --lm_accent-color_primary: hsl(128, 100%, 50%);
  --lm_accent-color_secondary: hsl(128, 99%, 38%);
}
@font-face {
  font-family: "D2 Clarity fonts";
  src: url(/D2-Clarity-fonts.woff);
}

body {
  background-color: light-dark(var(--lm_background-color_primary), var(--dm_background-color_primary));
  color: light-dark(var(--lm_text-color_primary), var(--dm_text-color_primary));
  font-family: 'Open Sans', sans-serif, 'D2 Clarity fonts';
}

/* CSS reset */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li::before {
  content: '•';
  padding-right: 0.2rem;
}
a {
  color: inherit;
}
button {
  font-family: inherit;
  font-size: inherit;
}

/* Editor styles */





.default {
  color: hsl(0, 0%, 85%);
  stroke: hsl(0, 0%, 85%);
}
.blue {
  color: hsl(180deg, 100%, 45%);
  stroke: hsl(180deg, 100%, 45%);
}
.green {
  color: hsl(116deg, 58%, 65%);
  stroke: hsl(116deg, 58%, 65%);
}
.yellow {
  color: hsl(51deg, 100%, 45%);
  stroke: hsl(51deg, 100%, 45%);
}
.purple {
  color: hsl(300deg, 100%, 81%);
  stroke: hsl(300deg, 100%, 81%);
}

.comment {
  color: hsl(0deg, 0%, 50%);
  /* TODO: do something maybe add border */
}
.highlight {
  background-color: hsla(0, 0%, 100%, 0.20);
}

/* .tooltip {
  color: hsl(38deg, 80%, 56%);
  text-decoration: underline;
} */

.enhanced {
  border-left: 1px solid hsl(46, 85%, 67%);
  border-right: 1px solid hsl(46, 85%, 67%);
  padding: 0 2px;
}
.arrow {
  color: hsl(46, 85%, 67%) !important;
}


.pvp {
  color: hsl(0deg, 100%, 80%);
  stroke: hsl(0deg, 100%, 80%);
}
.pve {
  color: hsl(220deg, 100%, 75%);
  stroke: hsl(220deg, 100%, 75%);
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.arc {
  color: #7cedf3;
}
.solar {
  color: #f16e27;
}
.void {
  color: #b384cd;
}
.stasis {
  color: #4d88ff;
}
.strand {
  color: #35e366;
}

.special {
  color: #7bf48b;
}
.heavy {
  color: #b185ff;
}

.hunter {
  color: #307fc5;
}
.titan {
  color: #ee423f;
}
.warlock {
  color: #e7a704;
}

.arrow {
  color: #f3ce53;
}

.barrier,
.overload,
.unstoppable,
.primary {
  /* @apply text-DM-10 dark:text-LM-10; */
}
