$text: hsl(0deg, 0%, 85%);
$background: hsl(0deg, 0%, 10%);

$button-background-color: hsl(0deg, 0%, 15%);
$button-background-color-active: hsl(0deg, 0%, 20%);

$button-SVG-color: hsl(0deg, 0%, 85%);
$button-SVG-color-active: hsl(137, 76%, 55%);
